<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Simple Data Analysis">
    <meta name="keywords" content="HTML,CSS,Python,JavaScript,jQuery,Bootstrap,Flask,JSON">
    <meta name="author" content="Sunshine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Data Analysis</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <script type=text/javascript>
        $(function() {
            $('#chk_duplicates1').click(function() {
                $.post('analysis', {
                    type: 'chk_duplicates',
                    source: 'Data1',
                    data: $('#inputA').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#chk_duplicates2').click(function() {
                $.post('analysis', {
                    type: 'chk_duplicates',
                    source: 'Data2',
                    data: $('#inputB').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#rm_duplicates1').click(function() {
                $.post('analysis', {
                    type: 'rm_duplicates',
                    source: 'Data1',
                    data: $('#inputA').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#rm_duplicates2').click(function() {
                $.post('analysis', {
                    type: 'rm_duplicates',
                    source: 'Data2',
                    data: $('#inputB').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#chk_comm').click(function() {
                $.post('analysis', {
                    type: 'chk_comm',
                    source: 'Data1,Data2',
                    data1: $('#inputA').val(),
                    data2: $('#inputB').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#chk_diff').click(function() {
                $.post('analysis', {
                    type: 'chk_diff',
                    source: 'Data1,Data2',
                    data1: $('#inputA').val(),
                    data2: $('#inputB').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#chk_consecutive1').click(function() {
                $.post('analysis', {
                    type: 'chk_consecutive',
                    source: 'Data1',
                    data: $('#inputA').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $('#chk_consecutive2').click(function() {
                $.post('analysis', {
                    type: 'chk_consecutive',
                    source: 'Data2',
                    data: $('#inputB').val()
                }, function(data) {
                    setTimeout(function() {
                        $('#output').val(data.result);
                    }, 800);
                }, 'json');
                return false;
            });
            $(document).ajaxSend(function() {
                processing();
                process = setInterval(function() {
                    processing();
                }, 1000);
                return false;
            }).ajaxComplete(function() {
                clearInterval(process);
                return false;
            }).ajaxError(function() {
                setTimeout(function() {
                    $('#output').val('Oops, we encountered a problem! Please contact your administrator for assistance.');
                }, 800);
                return false;
            });
        });

        function copyResult() {
            result = document.getElementById('output');
            result.select();
            document.execCommand('Copy');
            result.setSelectionRange(0, 0);
            if (result.value !== '') {
                alert('Text copied.');
            }
        }

        function clearAll() {
            $('#inputA').val('');
            $('#inputB').val('');
            $('#output').val('');
        }
        
        function swap() {
            data1 = $('#inputA').val();
            data2 = $('#inputB').val();
            $('#inputA').val(data2);
            $('#inputB').val(data1);
        }

        function processing() {
            $('#output').val('Processing');
            setTimeout(function() {
                $('#output').val('Processing.');
            }, 250);
            setTimeout(function() {
                $('#output').val('Processing..');
            }, 500);
            setTimeout(function() {
                $('#output').val('Processing...');
            }, 750);
        }

        window.onload = function() {
            data1 = localStorage.getItem('data1');
            if (data1 !== null) $('#inputA').val(data1);
            data2 = localStorage.getItem('data2');
            if (data2 !== null) $('#inputB').val(data2);
        }

        window.onbeforeunload = function() {
            localStorage.setItem('data1', $('#inputA').val());
            localStorage.setItem('data2', $('#inputB').val());
        }
    </script>
    <style type="text/css">
        textarea {
            resize: none;
            padding-left: 0.8em;
            height: 800px;
        }

        .form-control {
            border: 1px solid #007bff;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand navbar-light flex-column flex-md-row">
        <a class="navbar-brand text-primary m-0 mr-md-3" href="" style="font-size:24px;">Simple Data Analysis</a>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <label for="inputA">Data1</label>
                <textarea class="form-control" id="inputA" placeholder="Paste content here..."></textarea>
            </div>
            <div class="col-3 pl-0">
                <label for="inputB">Data2</label>
                <textarea class="form-control" id="inputB" placeholder="Paste content here..."></textarea>
            </div>
            <div class="col-3 col-xl-2 p-0 pt-5">
                <button onclick="javascript:void(0)" id="chk_duplicates1" type="button" class="btn btn-primary btn-block">Check Duplicates (Data1)</button>
                <button onclick="javascript:void(0)" id="chk_duplicates2" type="button" class="btn btn-primary btn-block">Check Duplicates (Data2)</button>
				<button onclick="javascript:void(0)" id="rm_duplicates1" type="button" class="btn btn-primary btn-block">Remove Duplicates (Data1)</button>
				<button onclick="javascript:void(0)" id="rm_duplicates2" type="button" class="btn btn-primary btn-block">Remove Duplicates (Data2)</button>
                <button onclick="javascript:void(0)" id="chk_comm" type="button" class="btn btn-primary btn-block">Cross Compare (Common)</button>
                <button onclick="javascript:void(0)" id="chk_diff" type="button" class="btn btn-primary btn-block">Cross Compare (Difference)</button>
                <button onclick="javascript:void(0)" id="chk_consecutive1" type="button" class="btn btn-primary btn-block">Check Consecutive (Data1)</button>
                <button onclick="javascript:void(0)" id="chk_consecutive2" type="button" class="btn btn-primary btn-block">Check Consecutive (Data2)</button>
                <br>
                <br>
                <button onclick="copyResult()" type="button" class="btn btn-primary btn-block">Copy Result (to Clipboard)</button>
                <br>
                <br>
                <button onclick="swap()" type="button" class="btn btn-primary btn-block">Data1<=>Data2</button>
                <br>
                <br>
                <button onclick="clearAll()" type="button" class="btn btn-primary btn-block">Clear</button>
            </div>
            <div class="col-3 col-xl-4">
                <label for="output">Result</label>
                <textarea class="form-control" id="output" readonly></textarea>
            </div>
        </div>
    </div>
</body>

</html>


